{% extends "tank/base.html" %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- graphconsumer -->
    <script>
        var socket=new WebSocket('ws://127.0.0.1:8000/ws/tank/');

        socket.onmessage = function(e){
            var djangoData=JSON.parse(e.data);
            //console.log(djangoData);
            {% comment %} var water_level={{tank.height}} - djangoData.value; {% endcomment %}
            var water_level=djangoData.value;
            //console.log(water_level);
            console.log({{time_profile.time_start}});
            
        // document.write("reached here");

            var newGraphData=graphData.data.datasets[0].data;
            newGraphData.shift();
            newGraphData.push(water_level);
            
            graphData.data.datasets[0].data=newGraphData;

            var status=djangoData.status;
            var newStatusData=graphData.data.labels;
            //console.log(status);
            newStatusData.shift();
            newStatusData.push(status);
            graphData.data.labels=newStatusData;

            myChart.update();

            //document.querySelector('#app').innerText=djangoData.value;
        }
    </script>
        

    <h1>HOME</h1>

    <select id="chartType" onchange="set_type(this);">
        <option value="bar">Bar</option>
        <option value="line">Line</option>
    </select>
    Graph
    
    <div>
        <canvas id="myChart" width="800" height="400"></canvas>
    </div>
    <script>
        const ctx = document.getElementById('myChart');
        //var chart_type=document.getElementById('chartType').value;
        //var graph_height = {{ tank.height }}
        //console.log("tank height: ",djangoData)
        data_array=[0, 0, 15, 0, 0, 15, 0, 0, 16, 0]
        label_array=['none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none', 'none']
        var graphData={
            type: "bar",
            data: {
                labels: ['Height'],
                datasets: [{
                    label: 'Water Filled',
                    data: [15],
                    borderWidth: 1,
                    barPercentage: 0.2
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: 0, // Set the lower limit of the scale
                        suggestedMax: {{tank.height}}, // Set the upper limit of the scale
                        ticks: {
                            stepSize: 5 // Set the step size of the scale
                        }
                    }
                },
                animation: {
                        // Duration of the animation in milliseconds
                        duration: 20,

                        // Easing function for the animation
                        easing: 'linear'

                        //from: 0

                        // Callback function that is called when the animation completes
                        //onComplete: function(animation) {
                        //console.log('Animation complete');
                    }
                }
        }

        let myChart=new Chart(ctx, graphData);

        function set_type(chart_type) {
            //console.log(chart_type.value);
            myChart.destroy();
            if(chart_type.value==='line') {
                graphData={
                    type: "line",
                    data: {
                        labels: label_array,
                        datasets: [{
                        label: 'water level in cm',
                        data: data_array,
                        borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                suggestedMin: 0, // Set the lower limit of the scale
                                suggestedMax: {{tank.height}}, // Set the upper limit of the scale
                                ticks: {
                                    stepSize: 5 // Set the step size of the scale
                                }
                            }
                        }
                    }
                }
                //console.log("Reached line")
                
                //console.log(graphData.type);
                //graphData.type='line';
                //console.log(graphData.type);

                myChart=new Chart(ctx,graphData);
            }
            if(chart_type.value==='bar') {
                //console.log("Reached bar")
                graphData={
                    type: "bar",
                    data: {
                        labels: ['Height'],
                        datasets: [{
                            label: 'water level in cm',
                            data: [15],
                            borderWidth: 1,
                            barPercentage: 0.2
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                suggestedMin: 0, // Set the lower limit of the scale
                                suggestedMax: {{tank.height}}, // Set the upper limit of the scale
                                ticks: {
                                    stepSize: 5 // Set the step size of the scale
                                }
                            }
                        }
                    }
                }
                myChart=new Chart(ctx,graphData);
            
            }
        }
    </script>


    {% comment %} <div id="fill_settings">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'tank' %}">Devices</a></li>
            <li style="float:right"><a class="active" href="#about">About</a></li>
        </ul>
    </div> {% endcomment %}

    {% comment %} <h1>Members</h1> {% endcomment %}
    {% comment %} {% for i in all %}
        <p>{{i}}</p>
        {{i.email}}
    {% endfor %} {% endcomment %}
    {% comment %} {% for i in tank %}
        {{i.name}}
    {% endfor %} {% endcomment %}
    {{tank.name}}
    <style>
        #container{
            display:flex;
        }
        .box{
            width:50%;
            align-items:center;
            justify-content:center;
            background:#303030;
            margin:10px 30px 0px 30px;
            border-radius:12px;
        }
        
        table {
            margin: auto; /* Center the table */
            color: white;
        }

        th, td {
            padding: 5px;
        }

        .toggle-switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 22px;
        }

        .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
        }

        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 22px;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
        }

        input:checked + .slider {
        background-color: #2196F3;
        }

        input:checked + .slider:before {
        transform: translateX(18px);
        }


        #time input{
            width:32px;
            margin:0px;
            padding:0px;
        }

        div#done{
            display:flex;
            align-items:center;
            justify-content:center;
            background:none;
            margin:10px 30px 0px 30px;
            border-radius:20px;
        }

         .done-button {
            width: 50px;   /* Set the width */
            height: 50px;  /* Set the height */
            border: none;   /* Remove border */
            background-color: #2196F3; /* Background color */
            color: white;   /* Text color */
            font-size: 25px; /* Font size */
            cursor: pointer; /* Pointer on hover */
            border-radius: 20%; /* Optional: rounded corners */
        }

    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const toggleSwitch = document.querySelector('.toggle-switch input');

        if (toggleSwitch) {
            toggleSwitch.addEventListener('change', function() {
                if (this.checked) {
                    console.log('Switch is ON');
                } else {
                    console.log('Switch is OFF');
                }
            });
        }
    });
    </script>

    <form action="{% url 'home' %}" name="metrics" method="POST" id="metrics">
        {% csrf_token %}
        <div id="container">
            <div class="box">
                {% comment %} <form action="{% url 'home' %}" name="metrics" method="POST" id="metrics">
                {% csrf_token %} {% endcomment %}
                    <table>
                        <tr>
                            <td>Tank Height</td>
                            <td><input type="number" name="height" class="form" placeholder="Vertical size of the Tank" value="{{tank.height}}"></td>
                            <td rowspan=3>
                                {% comment %} <input type="submit" class="done-button" value="Done"> {% endcomment %}
                            </td>
                        </tr>
                        <tr>
                            <td>Upper Limit</td>
                            <td><input type="number" name="upper_limit" class="form" placeholder="Fill water upto __" value="{{tank.upper_limit}}"></td>
                        </tr>
                        <tr>
                            <td>Lower Limit</td>
                            <td><input type="number" name="lower_threshold" class="form" placeholder="Start filling from __" value="{{tank.lower_threshold}}"></td>
                        </tr>
                    </table>
                {% comment %} </form> {% endcomment %}
            </div>
            <div class="box">
                {% comment %} <form action="{% url 'home' %}" name="time" method="POST" id="time">
                {% csrf_token %} {% endcomment %}
                    <table id="time">
                        <tr>
                            {% comment %} <td>Tank Height</td>
                            <td><input type="number" name="height" class="form" placeholder="Vertical size of the Tank" value="{{tank.height}}"></td>
                            <td rowspan=3><input type="submit" class="done-button" value="Done"></td> {% endcomment %}
                            <td align="center" colspan="3">
                                {{time_profile.name}}
                                <label class="toggle-switch">
                                    <input type="checkbox" name="is_active" {% if time_profile.is_active %}checked{% endif %}>
                                    <span class="slider"></span>
                                </label>
                            </td>
                                
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            {% comment %} <td><input type="time" name="start_time" class="form" placeholder="Fill water upto __" value="{{time_profile.time_start}}"></td> {% endcomment %}
                            <td><input type="number" min="0" max="23" name="time_start_h" class="form" placeholder="" value="{{time_profile.time_start_h}}"></td>
                            <td><input type="number" min="0" max="59" name="time_start_m" class="form" placeholder="" value="{{time_profile.time_start_m}}"></td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            {% comment %} <td><input type="time" name="end_time" class="form" placeholder="Start filling from __" value="{{tank.lower_threshold}}"></td> {% endcomment %}
                            <td><input type="number" min="0" max="23" name="time_end_h" class="form" placeholder="" value="{{time_profile.time_end_h}}"></td>
                            <td><input type="number" min="0" max="59" name="time_end_m" class="form" placeholder="" value="{{time_profile.time_end_m}}"></td>
                        </tr>
                    </table>
                {% comment %} </form> {% endcomment %}
            </div>
            <div id="done">
                <input type="submit" class="done-button" value="&#10004;">
            </div>
        </div>
    </form>
{% endblock content %}